# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# virtual environments
venv/
env/
.venv/

# datasets
data/
dataset/
datasets/

# ML models
*.h5
*.hdf5
*.pt
*.pth
*.ckpt
*.pkl

# numpy
*.npy
*.npz

# OS files
.DS_Store
Thumbs.db